#startListening {
	float: left;
	margin-right: 10px;
}
#startListening img {
	width: 22px;
	height: 22px;
}
#results {
	clear: right;
	display: inline-block;
	padding-top: 7px;
}
.wpavoice-active {
	border: 2px dashed orange !important;
}